#home {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
.h2 {
    text-shadow: 2px 2px 8px #FF0000;
    color: black;
    font-family: wildwest;
}
input[type="text"] {
    width: 200px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 12px;
    outline:none;
    padding: 8px 10px;

    transition:0.6s ease-in-out;
  }
  input[type="text"]:focus{
    width:280px; 
    background: #E6E6FA;
}

#menu {
    background:#7B68EE;
    width: 100%;
    height: 50px;
}

/*button*/
.button{
    margin-top: 1em;
    margin-left: 0em;
    height: 2em;
    padding: 0.15em 0.75em 0.15em 1.75em;
    font-size: 2em;
    font-weight: bold;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: #696666;
    background: url(../img/img-button.png) no-repeat scroll 0.4em -0.25em transparent;
    background-size: 40px 150px;
    border-radius: 1.5em;
    border: 0.1em solid #F9C23C;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .button:hover {
      color: #fff;
      background-color: #EAA502;
      border-color: #EAA502;
      background-position: 0.4em bottom;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
  }
  .button:focus {
      background-position: 2em -4em;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
  }
  /*ảnh giảng viên,khóa học,..*/
.img {
    width:  auto;
    height:300px;
}

.form_gioithieu {
    margin-top: 80px;
}
.part {
    border: 5px;
    border-color: coral;
    border-radius: 20px;
    color : black;
    background-color: coral;
}
.buttonsmall {
    border-radius: 10px;
    border-color: coral;
    background-color: coral;
    color: black;
    height: 30px;
    width: 70px;
}

