CREATE DATABASE QLKhoaHocTTNK;
GO

/*TẠO BẢNG*/
 USE QLKhoaHocTTNK;
 
 CREATE TABLE POSITION(
	ID INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	name varchar(30) NOT NULL,
	createDate datetime NOT NULL,
	isActive tinyint NOT NULL
)
go
CREATE TABLE ACCOUNT(
	ID INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	accountName varchar(30) NOT NULL,
	[passWord] varchar(30) NOT NULL,
	positionID INT REFERENCES POSITION(ID) NOT NULL,
	createDate datetime NOT NULL,
	isActive tinyint NOT NULL
)  
go
 CREATE TABLE STUDENT(
	ID INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	accountID INT  REFERENCES ACCOUNT(ID) NOT NULL,
	name VARCHAR(30) NOT NULL,
	age int NOT NULL,
	email varchar(50) NOT NULL,
	sexual varchar(5) ,
	createDate datetime NOT NULL,
	isActive tinyint NOT NULL,
)
go

CREATE TABLE LECTURER(
	ID INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	name varchar(30) NOT NULL,
	age int,
	email varchar(50) NOT NULL,
	sdt varchar(15) NOT NULL,
	depict varchar(500) NOT NULL,
	sexual varchar(5),
	photo varchar(200)NOT NULL,
	createDate datetime NOT NULL,
	isActive tinyint NOT NULL,
) 
go
CREATE TABLE CATEGORY(
	ID INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	name varchar(30) NOT NULL,
	createDate datetime NOT NULL,
	isActive tinyint NOT NULL,
)
go
CREATE TABLE subjects(
	ID INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	name varchar(30) NOT NULL,
	categoryID INT  REFERENCES CATEGORY(ID) NOT NULL,
	[description] varchar(500) NOT NULL,
	[image] varchar(200),
	createDate datetime NOT NULL,
	isActive tinyint NOT NULL,
)
go

CREATE TABLE CLASS(
	ID INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	lecturerID INT REFERENCES LECTURER(ID)NOT NULL,
    subjectID INT REFERENCES subjects(ID) NOT NULL,
	startDay date NOT NULL,
	finishDay date NOT NULL,
	createDate datetime NOT NULL,
	isActive tinyint NOT NULL,
)
CREATE TABLE STUDENT_CLASS (
	studentID INT REFERENCES STUDENT(ID) NOT NULL,
	classID INT REFERENCES CLASS(ID) NOT NULL,
	createDate datetime NOT NULL,
	isActive tinyint NOT NULL,
)
go 

CREATE TABLE SIGN_UP(
	ID INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
	accountID INT REFERENCES ACCOUNT(ID) NOT NULL,
    subjectID INT REFERENCES subjects(ID) NOT NULL,
	createdDate datetime NOT NULL,
	isActive tinyint NOT NULL,
)  
go


/* thêm dữ liệu vào bảng */
--position

INSERT INTO POSITION
	VALUES(N'Admin',GETDATE(),1);
INSERT INTO POSITION
	VALUES(N'User',GETDATE(),1);
--Account
INSERT INTO ACCOUNT
	VALUES(N'Admin',N'thuy1234',1,GETDATE(),1);
INSERT INTO ACCOUNT
	VALUES(N'anhquan',N'quan1234',2,GETDATE(),1);
INSERT INTO ACCOUNT
	VALUES(N'haianh',N'haianh1234',2,GETDATE(),1);
--student

INSERT INTO STUDENT
	VALUES(2,N'Nguyễn Anh Quân',17,N'nguyenanhquan@gmail.com',N'nam',GETDATE(),1);
INSERT INTO STUDENT
	VALUES(3,N'Phạm Hải Anh',16,N'phamhaianh@gmail.com',N'nam',GETDATE(),1);
INSERT INTO STUDENT
	VALUES(4,N'Trần Đình Đạt',19,N'trandinhdat@gmail.com',N'nam',GETDATE(),1);
--leturer

INSERT INTO LECTURER 
	VALUES(N'Đặng Thị Yến Ngọc',31,N'dangthiyenngoc@gmail.com',N'0973829162',
	N'2002: Tốt nghiệp Cao Đẳng Nghệ Thuật Hà Nội.
      2008: Tốt nghiệp Cao Đẳng Múa Việt Nam – chuyên ngành diễn viên.
      2011: Tốt nghiệp Học viện Múa Việt Nam – chuyên ngành huấn luyện.',
	N'nữ',N'http://nghethuathoatam.com/hoatam/wp-content/uploads/2014/06/giao-vien-mua-ballet-dang-thi-yen-ngoc.jpg',GETDATE(),1);
INSERT INTO LECTURER 
	VALUES(N'Vũ Thị Bích Thảo',26,N'vuthibichthao@gmail.com',N'0349866555',
	N'2012: Tốt nghiệp Cao Đẳng Múa Việt Nam – chuyên ngành múa dân gian dân tộc và múa ballet.
	2012: giảng viên múa – Trường trung cấp văn hóa nghệ thuật tỉnh Hưng Yên.
	Tham gia nhiều hội diễn múa trên toàn quốc: nghìn năm Thăng Long, Carnavan Hạ Long, Giỗ Tổ Hùng Vương…',
	N'nữ',N'http://nghethuathoatam.com/hoatam/wp-content/uploads/2015/05/Vu-thi-Bich-Thao.jpg',GETDATE(),1);
INSERT INTO LECTURER 
	VALUES(N'Nguyễn Tiến Dũng',65,N'nguyentiendung@gmail.com',N'06374833048',
	N'Tốt nghiệp Đại học Mỹ Thuật Việt Nam – chyên ngành Mỹ thuật – Hội họa.
	1985 – 2014: Trưởng khoa Mỹ thuật – Hội họa Cung Thiếu Nhi Hà Nội.
    2014 – nay: giáo viên mỹ thuật Trung tâm Nghệ thuật Hoa Tâm',
	N'nam',N'http://nghethuathoatam.com/hoatam/wp-content/uploads/2015/05/hoa-si-giao-vien-Nguyen-Tien-Dung.jpg',GETDATE(),1);

-- category

INSERT INTO CATEGORY
	VALUES(N'Mỹ Thuật',GETDATE(),1);
INSERT INTO CATEGORY
	VALUES(N'Múa',GETDATE(),1);
INSERT INTO CATEGORY
	VALUES(N'Nhảy',GETDATE(),1);

-- academic_discipline
INSERT INTO subjects
	VALUES(N'Vẽ Phong Cảnh',1,N'Khóa Phong cảnh căn bản được thiết kế riêng biệt cho người không chuyên,
	 đảm bảo phương pháp và kiến thức giảng dạy sẽ phù hợp và hiệu quả với bạn.
	 Bạn sẽ được học vẽ hoàn chỉnh những bức tranh theo chủ đề Phong cảnh khác nhau.
	  Đây là bước đệm tốt để bạn có thể tự tiếp tục sáng tác tranh sau này,
	   hoặc theo các khóa học nâng cao hơn nếu bạn muốn chuyên sâu',
	   N'https://i.pinimg.com/originals/66/ae/8d/66ae8d662e5bc1d0170daf1fdabfd589.jpg',GETDATE(),1);
INSERT INTO subjects
	VALUES(N'Vẽ Màu Nước',1,N'Những bức tranh được vẽ bằng màu nước luôn khắc họa một cách sinh động và chân thực sự vật, hiện tượng, con người.
    Mỗi bức tranh màu nước như được thổi vào đó linh hồn của người họa sĩ.
    Bạn sẽ lần lượt được học về:
    Các họa cụ vẽ Màu nước, cách làm chủ chúng trong từng trường hợp
    Cách pha màu, hòa sắc, phối màu, tạo dải chuyển màu
    Vẽ theo từng chủ đề theo mảng đa dạng từ Chân dung đến Phong cảnh',
    N'https://mythuatbui.edu.vn/wp-content/uploads/2017/02/42167275_132409284380356_3614917571809116160_n.jpg',GETDATE(),1);
INSERT INTO subjects
	VALUES(N'Vẽ Chân Dung',1,N'Khóa học vẽ chân dung sẽ giúp bạn tìm hiểu về cấu tạo hình khối của con người,
	 về bố cục, tỉ lệ và tạo sao con người lại có người đẹp, người xấu.
     Từ đó, khóa học vẽ chân dung giúp bạn hoàn thiện kĩ năng tư duy, bố cục và hình khối cơ bản nhất.',
	 N'https://media.tuoitrethudo.com.vn/files/f3/files/1ngoquanganh/ve-tranh1.jpg',GETDATE(),1);
--class
INSERT INTO CLASS
	VALUES(1,1,'2018/12/01','2019/1/30',GETDATE(),1);
INSERT INTO CLASS
	VALUES(2,2,'2018/11/01','2019/01/30',GETDATE(),1);
INSERT INTO CLASS
	VALUES(2,3,'2019/01/01','2019/02/15',GETDATE(),1);
--student-class

INSERT INTO STUDENT_CLASS
	VALUES(1,1,GETDATE(),1);
INSERT INTO STUDENT_CLASS
	VALUES(2,1,GETDATE(),1);
INSERT INTO STUDENT_CLASS
	VALUES(3,1,GETDATE(),1);
--sign_up
INSERT INTO SIGN_UP
	VALUES(14,5,GETDATE(),1);
INSERT INTO SIGN_UP
	VALUES(15,5,GETDATE(),1);
INSERT INTO SIGN_UP
	VALUES(14,3,GETDATE(),1);
