#header{
	height: auto;
	background-color: #CFFF;

}

#header h2{
	text-shadow: 2px 2px 8px #FF0000;
	font-family: WildWest;
}

#header ul li {
	display: inline-block;	
	padding-left: 10px;


}
#header ul li a{
	text-decoration: none;
	color: black;
	
}
#header ul li a:hover{
	color: red;
}
/*HEADER*/



#logo{
	height:120px;
	width: 200px;
}
#menu{
	background-color: #3E8AC0;	
	width: 100%;
	padding: 0px;
}
#menu ul li>a{
	font-size: 18px;
	display: block;
	background-color: #3E8AC0;
	color: yellow;
	width: auto;
	border-radius: 3px; 

}
#menu ul li>a:hover{
	background-color: white;
	color: black;
}

#home{
	color: yellow;
}

#btnMenu{
	font-size: 16px;
	text-align: center;
	color: yellow;
}
/*MENU*/



#aboutUs{
	padding: 50px 0px;

}
.aboutUs p{
	font-size: 20px;
	font-weight: bold;
}
#aboutUs .icon{
	color: #8700FF;
}
/*about us*/



.features-boxed{
	color:#313437;
	background-color:#eef4f7
}
.features-boxed p{
	color:#7d8285
}
.features-boxed h2{
	font-weight:700;
	margin-bottom:40px;
	padding-top:40px;
	color:inherit
}
/*@media (max-width:767px){

	.features-boxed h2{
		margin-bottom:25px;
		padding-top:25px;
		font-size:24px
	}
}*/
.features-boxed .intro{
	font-size:16px;
	max-width:500px;
	margin:0 auto
}
.features-boxed .intro p{
	margin-bottom:0
}
.features-boxed .features{
	padding:50px 0
}
.features-boxed .item{
	text-align:center
}
.features-boxed .item .box{
	text-align:center;
	padding:30px;
	background-color:#fff;
	margin-bottom:30px
}

.features-boxed .item .lecturers{
	width: 180px;
	height: 120px;
}
.features-boxed .item .icon{
	font-size:60px;
	color:#1485ee;
	margin-top:20px;
	margin-bottom:35px
}
.features-boxed .item .name{
	font-weight:700;
	font-size:18px;
	margin-bottom:8px;
	margin-top:0;
	color:inherit
}
.features-boxed .item .description{
	font-size:15px;
	margin-top:15px;
	margin-bottom:20px
}
	/*Giảng viên*/



#evaluate{
	
	padding-top: 50px;
	padding-bottom: 50px;
}



#evaluate  .imgEvaluate{
	width: 180px ;
	height: 120px;

	/*Cảm nhận*/
}
/*MAIN*/

#footer{
	padding-bottom: 50px;
	padding-top: 50px; 
	background-color:#CFFF; 
}



.footer-navigation h3 {
  margin:0;
  font:normal 36px ;
  margin-bottom:20px;
  
}

.footer-navigation h3 a {
  text-decoration:none;
  color: red;
  
}

.footer-navigation h3 span {
  color:#5383d3;
}

.footer-navigation p.links a {
 
  text-decoration:none;
  color: black;
}

.footer-navigation p.company-name {
  color:#8f9296;
  font-size:14px;
  font-weight:normal;
  margin-top:20px;
}

@media (max-width:767px) {
  .footer-contacts {
    margin:30px 0;
  }
}

.footer-contacts p {
  display:inline-block;
  color:#ffffff;
  vertical-align:middle;
}

.footer-contacts p  {
  color:#aaaaaa;
  text-decoration:none;
}

.footer-contacts p a  {
  color:#aaaaaa;
  text-decoration:none;
}

.fa.footer-contacts-icon {
  background-color: #6c757d;
 color: #ffffff;
  font-size:18px;
  width:38px;
  height:38px;
  border-radius:50%;
  text-align:center;
  line-height:38px;
  margin:10px 15px 10px 0;
}

span.new-line-span {
  display:block;
  font-weight:normal;
  display:block;
  font-weight:normal;
  font-size:14px;
  line-height:2;
}

.footer-about h4 {
  display:block;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  margin-bottom:20px;
}

.footer-about p {
  line-height:20px;
  color:#92999f;
  font-size:13px;
  font-weight:normal;
  margin:0;
}

.footer-about h4{
	color: black;
}

div.social-links {
  margin-top:20px;
 
}

.social-links a {
  display:inline-block;
  width:35px;
  height:35px;
  cursor:pointer;
  background-color:#6c757d;
  border-radius:2px;
  font-size:20px;
  color:#ffffff;
  text-align:center;
  line-height:35px;
  margin-right:5px;
  margin-bottom:5px;
}


/*FOOTER*/


