#logo {
    width: 30px;
    height: 30px;
    border-radius: 10px;
}
.h1 {
    text-shadow: 2px 2px 8px #FF0000;
    color: black;
    font-family: Verdana;
    padding-left: 200px;
}
.h2 {
    text-shadow: 2px 2px 8px #FF0000;
    color: black;
    font-family: wildwest;
}
input[type="text"] {
    width: 200px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    outline:none;
    padding: 8px 10px;

    transition:0.6s ease-in-out;
  }
  input[type="text"]:focus{
    width:280px; 
    background: #E6E6FA;
}
input[type="password"] {
    width: 200px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    outline:none;
    padding: 8px 10px;

    transition:0.6s ease-in-out;
  }
  input[type="password"]:focus{
    width:280px; 
    background: #E6E6FA;
}

#menu {
    background:#777777;
    width: 100%;
    height: auto;
}

.button1{
    margin-top: 1em;
    margin-left: 6em;
    height: 2em;
    padding: 0.15em 0.75em 0.15em 1.75em;
    font-size: 2.25em;
    font-weight: bold;
    font-family: "Open Sans";
    text-transform: uppercase;
    color: #696666;
    background: url(https://i.imgur.com/Th606mh.png) no-repeat scroll 0.4em -0.25em transparent;
    background-size: 40px 150px;
    border-radius: 1.5em;
    border: 0.1em solid #F9C23C;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  .button1:hover {
      color: #fff;
      background-color: #EAA502;
      border-color: #EAA502;
      background-position: 0.4em bottom;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
  }
  .button1:focus {
      background-position: 2em -4em;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
  }
  /*ảnh giảng viên,khóa học,..*/
.img {
    padding-top: 10px;
    width:  250px;
    height:auto;
}
.form {
    background-color: #FFFFCC;
}
.part {
    border: 5px;
    border-radius: 20px;
    color : black;
    background-color: #CC9933;
}
.buttonsmall {
    border-radius: 10px;
    background-color: #CCFF99;
    color: black;
    height: 30px;
    width: 70px;
}

#footer {
    background-color: #F5DEB3;
    background-size: 100% 500px;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 50px;

   }
   .social-links a {
    display:inline-block;
    width:35px;
    height:35px;
    cursor:pointer;
    background-color:#00FF33;
    border-radius:2px;
    font-size:20px;
    color:#ffffff;
    text-align:center;
    line-height:35px;
    margin-right:5px;
    margin-bottom:5px;
  }
  .fa.footer-contacts-icon {
    background-color: #00FF33;
    color: #ffffff;
    font-size:18px;
    width:38px;
    height:38px;
    border-radius:50%;
    text-align:center;
    line-height:38px;
    margin:10px 15px 10px 0;
  }

  .footer-contacts p {
    display:inline-block;
    vertical-align:middle;
  }
